/* You can add global styles to this file, and also import other style files */
/*spin*/
.mSpin{
  text-align: center;
  margin-top: -13px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
}
/*button*/
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
